<div class="container">
    <h2 class="title_h2">Большой конференц-зал "точка кипения" (8 Этаж)</h2>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 10.00 - 11.30</h5>
            <h3 class="title_h3">Круглый стол Министерства Здравоохранения Российской Федерации Тема: «Перспективы спортивной медицины при стратегическом планировании в ходе реализации стратегий развития врачебно-физкультурной деятельности субъектами Российской Федерации» </h3>
            <h4 class="zag_card">Модератор:</h4>
            <p class="card-text"><strong>Н. С. Маркарян</strong> - зам. Департамента организации экстренной медицинской помощи и управления рисками здоровью Министерства здравоохранения РФ</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 11.30 - 13.30</h5>
            <h3 class="title_h3">ФЦПСР Министерства спорта РФ Тема: «Система подготовки спортивного резерва в Российской Федерации»</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>К. Ш. Ахмерова</strong> - директор ФГБУ «Федеральный центр подготовки спортивного резерва»</p>
            <p class="card-text"><strong>И. А. Чен-Юн-Тай</strong> - руководитель Центра методического обеспечения спортивной подготовки ФГБУ «Федеральный центр подготовки спортивного резерва» (г. Москва)</p>
            <h4 class="zag_card">13.30 - 14.00 - перерыв</h4>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 16.30</h5>
            <h3 class="title_h3">Потведение итогов Конгресса. Награждение победителен конкурса молодых ученых</h3>
        </div>
    </div>
</div>
</div>

</main>

<div class="container pt-4">
    <h2 class="title_h2">КОНФЕРЕНЦ-ЗАЛ 6.08 (6 ЭТАЖ)</h2>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 10.00 - 11.30</h5>
            <h3 class="title_h3">Круглый стол Тема: «Инновационные подходы к подготовке спортсменов»</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>В. П. Лях</strong> - д.п.н., проф., ведущий научный сотрудник Института возрастной физиологии РАО (г. Москва)</p>
            <p class="card-text"><strong>П. Г. Максименко</strong> - д.п.н., проф, зав. каф. современных образовательных ехнологий ГОУ ВО МО Г осударственного гуманитарно-технологического университета (Московская область)</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 11.30 - 12.30 </h5>
            <h3 class="title_h3">Круглый стол Тема: «УМО в технологических видах спорта -развитие нормативно-правовой базы и возможности для спортсменов»</h3>
            <h4 class="zag_card">Модератор:</h4>
            <p class="card-text"><strong>А. П. Галкин</strong> - исполнительный директор Федерации гонок дронов Москвы (г. Москва)</p>
            <h4 class="zag_card">12.30 - 13.00 - перерыв</h4>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 13.00 - 14.30 </h5>
            <h3 class="title_h3">Тема: «Функциональная диагностика в спорте»</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>А. В. Калинин</strong> - д.м.н., гл. врач СПб ГБУЗ «Городской врачебно¬физкультурный диспансер» (г. Санкт-Петербург)</p>
            <p class="card-text"><strong>П. Н. Чайников</strong> - к.м.н., к.м.н., зав. кафедрой спортивной медицины, лечебной, физической культуры и здоровья ФГБОУ ВО Пермский ГМУ им. акад. Е.А. Вагнера (г. Пермь)</p>
            <p class="card-text"><strong>Е. В. Брынцева</strong> - асс. каф. лечебной физкультуры и спортивной медицины СЗГМУ им. И.И. Мечникова (г. Санкт-Петербург)</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 14.30 - 16.30 </h5>
            <h3 class="title_h3">Секция и конкурс молодых ученых Тема: «Программы профилактики травматизма в спорте»</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>О. А. Чурганов</strong> - д.п.н., проф., профессор каф. лечебной физкультуры и спортивной медицины СЗГМУ им. И.И. Мечникова (г. Санкт-Петербург)</p>
            <p class="card-text"><strong>Е. В. Брынцева</strong> - асс. каф. лечебной физкультуры и спортивной медицины СЗГМУ им. И.И. Мечникова (г. Санкт-Петербург)</p>
        </div>
    </div>
</div>

<div class="container pt-4">
    <h2 class="title_h2">КОНФЕРЕНЦ-ЗАЛ (1 ЭТАЖ)</h2>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 10.00 - 14.00</h5>
            <h3 class="title_h3">IV Конференция ФМБА Тема: «Медико-биологическое обеспечение спорта высших достижений» ФМБА России» (продолжение Конференции)</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>А. С. Самойлов</strong> - д.м.н., проф., член-корр. РАН, генеральный директор ФГБУ ГНЦ ФМБЦ им. А.И. Бурназяна ФМБА России</p>
            <p class="card-text"><strong>Т. А. Пушкина</strong> - к.б.н., начальник управления спортивной медицины и цифровизации ФМБА России</p>
            <p class="card-text"><strong>П. Т. Выходец</strong> - к.м.н., доц., зам. начальника управления спортивной медицины и цифровизации ФМБА России</p>
            <p class="card-text"><strong>А. В. Жолинский</strong> - к.м.н., доц., директор Федерального научно-клинического центра спортивной медицины и реабилитации ФМБА России</p>
            <p class="card-text"><strong>Н. В. Рылова</strong> - д.м.н., проф., зав. лабораторией спортивной нутрициологии Центра спортивной медицины и реабилитации ФГБУ ГНЦ ФМБЦ им. А.И.Бурназяна ФМБА России (г. Москва)</p>
            <h4 class="zag_card">14.00 - 14.30 - перерыв</h4>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 14.30 - 16.00 </h5>
            <h3 class="title_h3">Круглый стол ФГБОУ ВО РЭУ имени В.Г. Плеханова Тема: «Фиджитал - образование и инновационные спортивные технологии»</h3>
            <h4 class="zag_card">Модератор:</h4>
            <p class="card-text"><strong>Л. Б. Андрющенко</strong> - д.п.н., проф., директор центра фнджитал- образования и инновационных спортивных технологий РЭУ им. Г. В. Плеханова (г. Москва)</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 16.00 - 17.00 </h5>
            <h3 class="title_h3">Мастер-класс "Возможности текар-терапии в спортивной травматологии и реабилитации"</h3>
            <h4 class="zag_card">Модератор:</h4>
            <p class="card-text"><strong>О. Ю. Павлова</strong> - преподаватель кафедры ЛФК и спортивной медицины СЗГМУ им. И.И. Мечникова (г. Санкт-Петербург)</p>
        </div>
    </div>

</div>

<div class="container pt-4">
    <h2 class="title_h2">КОНФЕРЕНЦ-ЗАЛ 6.06 (6 ЭТАЖ)</h2>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 10.00 - 13.00</h5>
            <h3 class="title_h3">Секция Тема «Митап специалистов в спорте - реализация стратегии-2030»</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>О. А. Чурганов</strong> - д.п.н., профессор каф. лечебной физкультуры и спортивной медицины СЗГМУ им. И.И. Мечникова (г. Санкт-Петербург)</p>
            <p class="card-text"><strong>А. А. Мельников </strong> - д.б.н., проф., зав. кафедрой физиологии РУС "ГЦОЛИФК" ОТО Павлова - преподаватель каф. лечебной физкультуры и спортивной медицины СЗГМУ им. И.И. Мечникова</p>
        </div>
    </div>

</div>