<div class="container">
    <h2 class="title_h2">Большой конференц-зал "точка кипения" (8 Этаж)</h2>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 13.00 - 14.30</h5>
            <h3 class="title_h3">Рабочее совещание Министерства спорта Российской Федерации "Роль
                экспериментально(инновационной) деятельности в реализации приоритетных задач Министерства спорта
                России"</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>А. А. Морозов</strong> - заместитель Министра спорта Российской Федерации </p>
            <p class="card-text"><strong>К. Ш. Ахмерова</strong> - Директор ФГБУ "Федеральный центр подготовки
                спортивного резерва" (г.Москва)</p>
            <h4 class="zag_card">14.30 - 15.00 - перерыв</h4>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 15.00 - 17.00</h5>
            <h3 class="title_h3">Круглый стол «Социально- экономические фаюпоры управления безопасностью в спорте»
                Организатор - ФГБОУ ВО РЭУ имени В.Г. Плеханова</h3>
            <h4 class="zag_card">Модератор:</h4>
            <p class="card-text"><strong>Е. А. Гуреева </strong> - к.э.н., доц., зав. каф. менеджмента спорта и
                активного досуга ФГБОУ ВО РЭУ имени В.Г. Плеханова (г.Москва) </p>
        </div>
    </div>
</div>

</main>

<div class="container pt-4">
    <h2 class="title_h2">КОНФЕРЕНЦ-ЗАЛ 6.08 (6 ЭТАЖ)</h2>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 13.00 - 14.30</h5>
            <h3 class="title_h3">Круглый стол «Развитие адаптивного спорта в Российской Федерации»</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>С. П. Евсеев</strong> - д.п.н., проф., зав. каф. теории ц методики адаптивной
                физической культуры НГУ нм. П.Ф. Лесгафта, президент Всероссийской федерации спорта лиц с
                интеллектуальными нарушениями, вице-президент Паралимпийского комитета России (г. Санкт-Петербург)</p>
            <p class="card-text"><strong>О. С. Возняк</strong> - к.п.н., начальник Управления развития студенческого и
                адаптивного спорта ФГБУ ФЦПСР (г. Москва)</p>
            <h4 class="zag_card">14.30 - 15.00 - перерыв</h4>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 15.00 - 16.30 </h5>
            <h3 class="title_h3">Круглый стол «Совершенствование системы антидопингового обеспечения подготовки
                спортивного резерва в субъектах Российской Федерации»</h3>
            <h4 class="zag_card">Организатор:</h4>
            <p class="card-text">РАА «РУСАДА»</p>
            <h4 class="zag_card">Модератор:</h4>
            <p class="card-text"><strong>В. А. Конова</strong> - Начальник отдела реализации образовательных программ
                РАА «РУСАДА» (г. Москва)</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 16.30 - 17.30 </h5>
            <h3 class="title_h3">Онлайн-мероприятие Мастер-класс «Взаимосвязь ЧСС и вариационного размаха
                кардиоинтервалов в покое и ортостазе с учётом типа регуляции у спортсменов при оценке восстановления
                иперетренированности»</h3>
            <h4 class="zag_card">Организатор:</h4>
            <h4 class="zag_card">Модератор:</h4>
            <p class="card-text"><strong>Н. П. Шлык</strong> - Модератор: Н.П. Шлык - д.б.н., проф., зав. каф.
                Валеологии и МБОК Института физической культуры и спорта Удмуртского государственного университета (г.
                Ижевск)</p>
        </div>
    </div>
</div>

<div class="container pt-4">
    <h2 class="title_h2">КОНФЕРЕНЦ-ЗАЛ (1 ЭТАЖ)</h2>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 13.00 - 17.00</h5>
            <h3 class="title_h3">IV Конференция ФМБА России «Медико-биологическое обеспечение спорта высших
                достижений»</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>А. С. Самойлов</strong> - д.м.н., проф., член-корр. РАН, генеральный директор
                ФГБУ ГНЦ ФМБЦ им. А.И. Бурназяна ФМБА России</p>
            <p class="card-text"><strong>Т. А. Пушкина</strong> - к.б.н., начальник управления спортивной медицины и
                цифровизации ФМБА России</p>
            <p class="card-text"><strong>П. Т. Выходец</strong> - к.м.н., доц., зам. начальника управления спортивной
                медицины и цифровизации ФМБА России</p>
            <p class="card-text"><strong>А. В. Жолинский</strong> - к.м.н., доц., директор Федерального
                научно-клинического центра спортивной медицины и реабилитации ФМБА России</p>
            <p class="card-text"><strong>Н. В. Рылова</strong> - д.м.н., проф., зав. лабораторией спортивной
                нутрициологии Центра спортивной медицины и реабилитации ФГБУ ГНЦ ФМБЦ им. А.И.Бурназяна ФМБА России (г.
                Москва)</p>
        </div>
    </div>

</div>

<div class="container pt-4">
    <h2 class="title_h2">КОНФЕРЕНЦ-ЗАЛ 6.06 (6 ЭТАЖ)</h2>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 13.00 - 15.30</h5>
            <h3 class="title_h3">Секция ФГБУН «Федеральный исследовательский центр питания, биотехнологии и безопасности
                пищи» «Актуальные вопросы спортивной нутр ициологи и»</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>В. М. Коденцова</strong> - д.б.н., проф., главный научный сотрудник лаборатории
                витаминов и минеральных веществ ФГБУН "ФПЦ питания и биотехнологии"</p>
            <p class="card-text"><strong>К. В. Выборная</strong> - научный сотрудник, лаборатория антропонутрициологии и
                спортивного питания, ФГБУН "ФПЦ питания и биотехнологии"</p>
            <p class="card-text"><strong>Р. М. Раджабкадиев</strong> - научный сотрудник, лаборатория
                антропонутрициологии и спортивного питания (г. Москва)</p>
            <h4 class="zag_card">15.30 - 16.00 - перерыв</h4>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="time_card"><i class="icon feather icon-clock"></i> 16.00 - 18.00</h5>
            <h3 class="title_h3">Круглый стол «Актуальные проблемы психологии спортивного успеха»</h3>
            <h4 class="zag_card">Модераторы:</h4>
            <p class="card-text"><strong>С. В. Соколовская</strong> - к.п.н., доц., зав. кафедрой спортивной медицины и
                психологии ИНГУ им Н.И. Лобачевского, зав. отделением спортивной психологии Регионального центра
                спортивной медицины Нижегородской области (г. Нижний Новгород)</p>
            <p class="card-text"><strong>Е. Е. Хвацкая</strong> - к.п.н., доц., зав. кафедрой психологии им. А. Ц. Пуни
                НГУ им. П. Ф. Лесгафта, доцент кафедры спортивной медицины и психологии ННГУ им. Н. П. Лобачевского,
                психолог ГБУ ДО СШОР N2 (Санкт-Петербург)</p>
        </div>
    </div>

</div>