<div class="container text-left">
    <div class="row align-items-start">
        <div class="col col-lg-3 col-md-12 col-sm-12">

        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 text-footer">
            <i class="icon feather icon-phone"></i> +7<br><i class="icon feather icon-mail"></i> p@list.ru
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 text-footer">
            Время работы:</br>
            с 9:00 до 18:00 МСК
        </div>
        <div class="col col-lg-3 col-md-6 text-footer">
            <i class="icon feather icon-truck"></i> Москва,
        </div>
    </div>
</div>